@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  font-family: 'Noto Naskh Arabic', serif;
}